In [1]:
import pandas as pd
df= pd.read_csv("yelp_business_hours.csv")
df.replace('\'','', regex=True, inplace=True)

In [2]:
df.head()

,business_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,FYWN1wneV18bWNgQjJ2GNg,7:30-17:0,7:30-17:0,7:30-17:0,7:30-17:0,7:30-17:0,None,None
1,He-G7vWjzVUysIKrfNbPUQ,9:0-20:0,9:0-20:0,9:0-20:0,9:0-20:0,9:0-16:0,8:0-16:0,None
2,KQPW8lFf1y5BT2MxiSZ3QA,None,None,None,None,None,None,None
3,8DShNS-LuFqpEWIp0HxijA,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,11:0-19:0
4,PfOCPjBrlQAnz__NXj9h_w,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-2:0,11:0-0:0

In [3]:
column_names = [i for i in df.columns]
print(column_names)

['business_id', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [4]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''CREATE TABLE yelp_business_hours
(business_id varchar(50), 
monday varchar(20) Default 'None',
tuesday varchar(20) Default 'None', 
wednesday varchar(20) Default 'None', 
thursday varchar(20) Default 'None', 
friday varchar(20) Default 'None', 
saturday varchar(20) Default 'None', 
sunday varchar(20) Default 'None');''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully
Table created successfully

In [5]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
  
  
conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('yelp_business_hours', con=conn, if_exists='replace',index=False)

567

In [6]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")
'business_id', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'
cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_business_hours
    ALTER COLUMN business_id TYPE varchar(500),
    ALTER COLUMN monday TYPE varchar(500),
    ALTER COLUMN tuesday TYPE varchar(500),
    Alter COLUMN wednesday TYPE varchar(500),
    ALTER COLUMN thursday TYPE varchar(500),
    ALTER COLUMN friday TYPE varchar(500),
    ALTER COLUMN saturday TYPE varchar(500),
    Alter COLUMN sunday TYPE varchar(500);''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully

In [7]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''alter table yelp_business_hours
    alter column business_id set not null,
    ALTER COLUMN monday set default 'None',
    ALTER COLUMN tuesday set default 'None',
    Alter COLUMN wednesday set default 'None',
    ALTER COLUMN thursday set default 'None',
    ALTER COLUMN friday set default 'None',
    ALTER COLUMN saturday set default 'None',
    Alter COLUMN sunday set default 'None';''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully

In [8]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_business_hours
ADD FOREIGN KEY (business_id) REFERENCES yelp_business(business_id) on delete cascade;''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully