In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
df= pd.read_csv("yelp_checkin.csv")
df.replace('\'','', regex=True, inplace=True)

In [3]:
df.head()

              business_id weekday   hour  checkins
0  3Mc-LxcqeguOXOVT_2ZtCg     Tue   0:00        12
1  SVFx6_epO22bZTZnKwlX7g     Wed   0:00         4
2  vW9aLivd4-IorAfStzsHww     Tue  14:00         1
3  tEzxhauTQddACyqdJ0OPEQ     Fri  19:00         1
4  CEyZU32P-vtMhgqRCaXzMA     Tue  17:00         1

In [4]:
column_names = [i for i in df.columns]
print(column_names)

['business_id', 'weekday', 'hour', 'checkins']

In [5]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''CREATE TABLE yelp_checkin
(business_id varchar(50) not null,
 weekday varchar(20) not null, 
 hour time not null,
checkins integer not null);''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully
Table created successfully

In [6]:
conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('yelp_checkin', con=conn, if_exists='replace',index=False)
conn.close()

In [7]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_checkin
    ALTER COLUMN business_id set not null,
    ALTER COLUMN weekday set not null,
    ALTER COLUMN hour set not null,
    Alter COLUMN checkins set not null;''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully

In [8]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''alter table yelp_checkin
    ALTER COLUMN business_id TYPE varchar(500),
    ALTER COLUMN weekday TYPE char(200),
    ALTER COLUMN hour TYPE varchar(50),
    Alter COLUMN checkins TYPE numeric(100,0);''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully

In [9]:
import psycopg2
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_checkin
ADD FOREIGN KEY (business_id) REFERENCES yelp_business(business_id) on delete cascade''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully
Table created successfully