In [1]:
import psycopg2
def con_est():
    conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
    return conn
print ("Opened database successfully")

Opened database successfully

In [2]:
import pandas as pd
df= pd.read_csv("yelp_business.csv")
df.replace('\'','', regex=True, inplace=True)

In [3]:
df.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Mens Hair Salons;Blo...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [4]:
column_names = [i for i in df.columns]
print(column_names)

['business_id', 'name', 'neighborhood', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'categories']

In [5]:
conn = con_est()
cur = conn.cursor()
cur.execute('''CREATE TABLE yelp_business
(business_id varchar(50) not null, 
name char(30) not null, 
neighborhood varchar(30) not null, 
address varchar(100) not null, 
city varchar(30) not null,
state char(5) not null,
postal_code integer not null,
latitude double precision not null, 
longitude double precision not null,
stars integer not null,
review_count integer not null,
is_open integer not null, 
categories varchar(150) not null);''')
print("Table created successfully")

conn.commit()
conn.close()

Table created successfully

In [6]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('yelp_business', con=conn, if_exists='replace',index=False)

567

In [7]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_business
    ALTER COLUMN business_id TYPE varchar(500),
    ALTER COLUMN name TYPE char(200),
    ALTER COLUMN address TYPE varchar(200),
    ALTER COLUMN city TYPE varchar(50),
    ALTER COLUMN state TYPE char(5),
    ALTER COLUMN postal_code TYPE char(10),
    ALTER COLUMN latitude TYPE double precision,
    ALTER COLUMN longitude TYPE double precision,
    ALTER COLUMN stars TYPE decimal(1,0),
    ALTER COLUMN review_count TYPE numeric(100,0),
    AlTER COLUMN is_open TYPE Numeric(1,0);''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully

In [8]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''alter table yelp_business
    alter column business_id set not null,
    ALTER COLUMN address set not null,
    ALTER COLUMN city set default 'None',
    ALTER COLUMN state set default 'None',
    ALTER COLUMN postal_code set default '0',
    ALTER COLUMN latitude set default '0.0000',
    ALTER COLUMN longitude set default '0.0000',
    ALTER COLUMN stars set not null,
    ALTER COLUMN review_count set not null,
    Alter COLUMN is_open set not null;''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully

In [9]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_business
ADD PRIMARY KEY (business_id);''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully

In [10]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_business
drop column neighborhood;''')
print("Table altered successfully")

conn.commit()
conn.close()

Opened database successfully
Table altered successfully