In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
df= pd.read_csv("yelp_review.csv", usecols =['review_id', 'user_id', 'business_id', 'stars','text'] )
df.replace('\'','', regex=True, inplace=True)

In [3]:
df.head()

,review_id,user_id,business_id,stars,text
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,Super simple place but amazing nonetheless. It...
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,Small unassuming place that changes their menu...
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,Lesters is located in a beautiful neighborhood...
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,Love coming here. Yes the place always needs t...
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,Had their chocolate almond croissant and it wa...

In [4]:
column_names = [i for i in df.columns]
print(column_names)

['review_id', 'user_id', 'business_id', 'stars', 'text']

In [5]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''CREATE TABLE yelp_review
(review_id varchar(50) not null,
 user_id varchar(50) not null,
 business_id varchar(50) not null,
 stars integer default 0,
 text varchar(300) default 'None');''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully
Table created successfully

In [ ]:
conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('yelp_review', con=conn, if_exists='replace',index=False)
conn.close()

In [ ]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''delete from yelp_review where user_id = 'oMy_rEb0UBEmMlu-zcxnoQ'; ''')
print("Table altered successfully")

conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_review
    ALTER COLUMN review_id TYPE varchar(500),
    ALTER COLUMN user_id TYPE char(200),
    ALTER COLUMN business_id TYPE varchar(200),
    ALTER COLUMN stars TYPE numeric(100,0),
    ALTER COLUMN text TYPE varchar(100000);''')
print("Table altered successfully")

conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_review
    ALTER COLUMN review_id set not null,
    ALTER COLUMN user_id set not null,
    ALTER COLUMN business_id set not null,
    ALTER COLUMN stars set default 0,
    ALTER COLUMN text set default 'None';''')
print("Table altered successfully")

conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_review
ADD FOREIGN KEY (user_id) REFERENCES yelp_user(user_id) on delete cascade''')
print("Table altered successfully")

conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_review
ADD FOREIGN KEY (business_id) REFERENCES yelp_business(business_id) on delete cascade''')
print("Table altered successfully")

conn.commit()
conn.close()

In [ ]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''ALTER TABLE yelp_review
ADD Primary KEY (review_id);''')
print("Table altered successfully")

conn.commit()
conn.close()